body{
    font-family: 'Inter', 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3rem;
}

#reset, #start{
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 1.2rem;
    cursor: pointer;
}

input{
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
}

p{
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
}

.input-area{
    flex-direction: row;
    margin-bottom: 20px;
}

.row{
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
}

.row button{
    width: 120px;
    height: 120px;
    border: 4px solid black;
    background-color: white;
    cursor: pointer;
    font-family: Rubik, sans-serif;
    font-size: 4rem;
}

#x1, #x4, #x7{
    border-left: none;
}

#x7, #x8, #x9{
    border-bottom: none;
}

#x3, #x6, #x9{
    border-right: none;
}

#x1, #x2, #x3{
    border-top: none;
}

#reset{
    visibility: hidden;
}